<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIL3z4-CI71rx0-R4hZ2vuE1mZT9Ow64c</string>
	<key>GCM_SENDER_ID</key>
	<string>420333560450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sushiApp</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-c009f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-c009f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420333560450:ios:4979c512b5583518d8ca9b</string>
</dict>
</plist>